{:paths ["src" "resources" "docs"]
 :deps {cjohansen/dumdom {:mvn/version "2023.04.26"}
        markdown-clj/markdown-clj {:mvn/version "1.11.4"}
        no.cjohansen/phosphor-clj {:mvn/version "2023.07.07"}}
 :aliases
 {:dev {:extra-paths ["dev" "test" "dev-resources" "sample/src" "scenes/src" "intro/src"]
        :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                     org.clojure/clojurescript {:mvn/version "1.11.60"}
                     com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                     cider/piggieback {:mvn/version "0.5.3"}
                     cjohansen/gadget-inspector {:mvn/version "0.2020.09.10"}
                     cjohansen/replicant {:git/url "https://github.com/cjohansen/replicant.git"
                                          :sha "5dcd45dc3078322fdc7aae9fdba3a09aac3ccd5d"}
                     reagent/reagent {:mvn/version "1.2.0"}
                     cljsjs/codemirror {:mvn/version "5.44.0-1"}
                     cljsjs/react {:mvn/version "18.2.0-1"}
                     cljsjs/react-dom {:mvn/version "18.2.0-1"}
                     ring/ring {:mvn/version "1.9.6"}
                     rum/rum {:mvn/version "0.12.10"}
                     lilactown/helix {:mvn/version "0.1.9"}
                     com.pitch/uix.core {:mvn/version "0.8.1"}
                     com.pitch/uix.dom {:mvn/version "0.8.1"}
                     coderafting/memsearch {:mvn/version "0.1.1"}}
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  :jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                      :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "portfolio.jar"]}
  :shadow {:extra-paths ["src/dev" "src/test"]
           :extra-deps {thheller/shadow-cljs {:mvn/version "2.23.2"}}}}}
