^{:css-dirs ["resources/public/portfolio"]
  :extra-main-files {:mirror {:main mirror.scenes}}}
{:main "portfolio.dev"
 :optimizations :none
 :pretty-print true
 :source-map true
 :asset-path "/portfolio/js/dev"
 :output-to "dev-resources/public/portfolio/js/app.js"
 :output-dir "dev-resources/public/portfolio/js/dev"}
