{:deps {:aliases [:dev]}

 :dev-http {8080 ["dev-resources/public" "classpath:public"]}

 :builds
 {:frontend
  {:target :portfolio
   :portfolio.ui/config {:css-paths ["/portfolio/demo.css"]}
   :output-dir "dev-resources/public/js"}}}
