{:deps {:aliases [:dev]}

 :dev-http {8080 ["dev-resources/public" "classpath:public"]}

 :builds
 {:frontend
  {:target :portfolio
   :runner-ns portfolio.scenes
   :compiler-options {:infer-externs true}
   :dev {:output-dir "dev-resources/public/js"}}}}
