html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

.dark-mode {
  color: #fff;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Work Sans', helvetica, arial, sans-serif;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.25;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.button,
.button:link,
.button:visited {
  align-items: center;
  background: #3750ff;
  background: #db162f;
  border: 3px solid #db162f;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-weight: normal;
  justify-content: center;
  line-height: 1;
  height: 44px;
  padding: 12px 17px;
  position: relative;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  width: 100%;
}

.button:active,
.button:link:active,
.button:hover:active,
.button:visited:active {
  background: #13a3fc;
  border-color: #13a3fc;
}

.button:hover,
a.button:hover {
  background: #247bfd;
  border-color: #247bfd;
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  .button {
    background: #3750ff;
    border-color: #3750ff;
  }
}
